/*------------------------------------------------------
CSS
ID selector: hash "#"
Class selector: full stop "."
------------------------------------------------------*/
/*
div {    
 border: 2px solid red;  
 }
 */
 
.well {
  padding: 10px;
}
 
#selection_well .form-group {
  display: table-row;
}

#selection_well label.control-label {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding: 0 10px 0 0;
  width: 50%;
}



#composite_well .form-group {
  display: table-row;
}

#composite_well label.control-label {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding: 0 0 0 0;
  width: 50%;
}