/*------------------------------------------------------
CSS
ID selector: hash "#"
Class selector: full stop "."
------------------------------------------------------*/
/*
#div_colors h3 {
  color: red;
}

 
div {    
 border: 2px solid red;  
 }


div#plot_overview {
  text-align: left;
}
 */
